.App {
  background-image: url('./images/moon.jpg');
  height: 100vh;
  background-size: cover;
  padding: 5vh 7vw;
}

.Button {
  background-color: #10E5DD;
  font-size: 1.5rem;
  border-radius: 10px;
  border-color: #10E5DD;
  color: white;
  padding: 2px 2rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.Container {
  border: 1px white solid;
  background-color: #303846;
  width: 370px;
  margin: auto;
  text-align: center;
  color: white;
}

.FormBottomGrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  text-align: left;
  padding-left: 2rem;
}

.FormGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  padding-left: 2rem;
}

.GridBlock {
  display: block;
  padding-bottom: 0.5rem;
}

.GridDiv {
  margin: 0.75rem 0;
}

.Header {
  background-color: yellow;
  font-size: 36px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 5rem;
}

.InputField {
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.LogoutButton {
  position: absolute;
  top: 4rem;
  right: 10rem;
}

.UpdateDiv {
  margin-top: 1rem;
  display:inline-flex;
  margin-right: 5rem;
}