.App {
  background-image: url('./images/moon.jpg');
  height: 100vh;
  background-size: cover;
  padding: 5vh 7vw;
}

.Button {
  background-color: #10E5DD;
  font-size: 1.5rem;
  border-radius: 10px;
  border-color: #10E5DD;
  color: white;
  padding: 2px 2rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.Container {
  border: 1px white solid;
  background-color: #303846;
  width: 370px;
  margin: auto;
  text-align: center;
  color: white;
}

.FormGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.GridBlock {
  display: block;
}

.GridDiv {
  margin: 1rem 0;
}

.Header {
  background-color: yellow;
  font-size: 36px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 5rem;
}

.InputField {
  display: block;
  margin: auto;
  margin-top: 2rem;
}
